@charset "utf-8";

/* CSS Document */


/* Resets */

h1,
h2 {
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: normal;
}

table {
    border: 0;
}

p {
    padding: 0;
    margin: 0 0 10px 0;
}

ul {
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
}

ul li {
    padding: 5px 0;
}

ul li input[type="text"],
ul li input[type="password"],
ul li input[type="email"],
ul li input[type="file"],
ul li select {
    width: 250px;
}

.wifiForm {
    margin: 0;
}


/* Headers */

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
}

.logo {
    text-decoration: none;
}

.logo h1 {
    color: #000;
}


/* Containers */

body {
    background: lightslategray;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}

main,
footer {
    background: #fff;
    width: 920px;
    margin: 0 auto;
    padding: 20px;
}

header {
    width: 940px;
    padding: 10px;
    margin: 0 auto 10px auto;
}

main {
    min-height: 500px;
    border-radius: 5px 5px 0 0;
}

footer {
    border-radius: 0 0 5px 5px;
}

.widget {
    margin-bottom: 20px;
}

.widget h2 {
    margin: 0 0 10px 0;
    padding: 0 5px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}

.widget ul li a:link,
.widget ul li a:visited {
    text-decoration: underline;
    color: #000;
}

.widget ul li a:hover {
    text-decoration: none;
}

.widget .inner {
    margin: 0 10px;
}

.rTable {
    display: table;
}

.rTableRow {
    display: table-row;
}

.rTableCell {
    display: table-cell;
    padding: 5px 10px;
}

.rTableHead {
    display: table-cell;
    padding: 5px 10px;
    font-weight: bold;
}

.rTableCellSpacing {
    padding: 5px 5px;
}

.newConfigFieldset {
    margin: 0 0 10px 0;
    border-width: 1px;
    border-style: solid;
    border-color: #999;
}


/* Navigation */

nav {
    float: left;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    background-color: lightgray;
    padding: 0.5rem;
    border: 1px solid rgb(100, 115, 130);
    border-radius: 0.5rem;
    color: #000;
}

nav ul li a:hover {
    /* text-decoration:none; */
    background-color: darkgray;
    /* padding: 0.5rem;
    border: 1px solid rgb(100, 115, 130);
    border-radius: 0.5rem; */
}

nav ul li a.current {
    font-weight: bold;
}

nav ul li a.last {
    border-right: 0;
}


/* Aside */

aside {
    width: 260px;
    float: right;
    border-left: 1px dashed #aaa;
    padding-left: 15px;
    margin-left: 15px;
}

pre {
    margin: 0;
    padding: 0;
}

code {
    font-family: monospace;
    border: 1px;
    border-style: solid;
    border-color: #999;
    padding: 0.5em;
    font-size: 0.8rem;
    overflow: auto;
    height: 400px;
}


/* Login */

#login li.link {
    margin-top: 5px;
}


/* Section */

section {
    padding: 0 0 20px 0;
}


/* Footer */

footer {
    border-top: 1px dashed #ddd;
    color: #999;
}


/* Misc */

.clear {
    clear: both;
}

.successful-action {
    color: #008800;
    margin-top: 1em;
}

input::-moz-placeholder {
    color: #999;
    opacity: 1
}

input:-ms-input-placeholder {
    color: #999
}

input::-webkit-input-placeholder {
    color: #999
}


/* CSS Document */