.idea/
_windows/
codestyles/
databaseDrivers.xml
databaseSettings.xml
dbnavigator.xml
debugger.xml
diff.xml
editor.xml
filetypes.xml
.buildpath
.project
.settings/
.vscode/
*.code-workspace
device_code/*
!device_code/.gitkeep
images/*
!images/.gitkeep
!images/.favicon.ico
